@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');




#container {background-color:#ffffffe6;
    padding:10px;
    border-style:double;
    position:absolute;
}

p, h2, h3, ul a{
font-family: "Klee One", cursive;
  font-weight: 400;

}

p{
    font-size: 1.1em;
}

body {
    font-family: "Merriweather", serif;
    font-style: normal;
   
    background:url("background.jpg") repeat center/cover;
}



#about{
    text-align: center;
    border-style:solid;
    border-color: rgba(97, 84, 114, 1);
    margin-top: 10px;
    background-color:rgba(86, 136, 148, 0.33);
}

h2{
    font-size:2rem;
}

h3{
line-height: 1.6em;
font-size: 1.5rem;
}

h3 a{
    text-decoration: none;
    color:black;
}

h3 a:hover{
    background-color: rgba(86, 136, 148, 1);
    color:white;
}

h1 {
    font-size: 2.3rem;
    
font-family: "Delius Swash Caps", cursive;
  font-weight: 400;

    letter-spacing: 0.1rem;

    font-style: normal;

}

h1 a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0px 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(97, 84, 114, 1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/** menu bar **/
#top-nav {
    position: absolute;
    display: none;
    text-align: center;
    right: 0;
    top: 60px;
    z-index: 100;
    border: solid 1px black;
    background-color: #b7e2e7;
}

#top-nav a {
    text-decoration: none;
    color: black;
}

#top-nav a:hover {
    background-color:rgba(86, 136, 148, 1);
    color: white;
}

.menuwrap:hover #top-nav {
    display: block;

}
#top-nav ul{
    font-size: 1.2em;
}

#top-nav ul a {
    display: block;
    padding: 10px;
    border: solid 0.5px black;
    
}

#top-nav input {
    display: block;
    margin: 10px 5px;
}

/** menu bar end **/





.material-symbols-outlined {
    float: right;

}


 .second main {
       display: grid;
        grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
        grid-gap: 3.5em;
        text-align: center;
        justify-content: space-evenly;
    }

section{
    flex:content;
}

.intro img{
width:60%;

}

/* Program Cards */
.card {
    border: solid 4px rgba(97, 84, 114, 1);
    border-radius: 10px;
    transition-property: box-shadow, transform;
    transition-duration: 0.5s;
    margin-bottom: 2em;
    background-color: white;

}

.card-body {
    padding: 1em;
}

.card img {
    border-radius: 6px 6px 0 0;
}


.card h2 {
    margin-top: 0;
    font-size: 1.2em;
}

.card h2 span {
    font-weight: normal;
}

.card h3 {
    font-size:1em;
    margin-top:0;
    margin-bottom: -4px;
}

.card:hover {
    box-shadow: 5px 5px 5px #4a4a4a;
    /* X shift, Y shift, Blur, Color */
    transform: translateY(-5px)
}

/* Utility Classes */
.responsive-img {
    width: 100%;
}

.c-black {
    color: black;
}

.no-underline {
    text-decoration: none;
}

.dropdown {
    background-color:white;
    border-style:solid;
    border-width: 1px;
    margin-bottom: 1em;
    padding: 4px;
    border-radius: 10px;
    font-size: 1.2rem;
     transition-property: transform, box-shadow, background-color;
    transition-duration: 0.5s;
    box-shadow: 5px 5px rgba(86, 136, 148, 1);

}





.dropdown a {
    text-decoration: none;
    color: black;
    padding: 5px;
    display: block;

}



.dropdown:hover {
 box-shadow: 5px 5px rgba(97, 84, 114, 1);
    /* X shift, Y shift, Blur, Color */
    transform:translate3d(5px);
     background-color:#d1d9ec;
     
}
    
.current {
     background-color:#d1d9ec;
  margin-bottom: 1em;
  padding: 4px;
  border-radius: 10px;
  font-size: 1.2rem;
  transition-property: transform, box-shadow;
  transition-duration: 0.5s;
  box-shadow: 5px 5px rgba(97, 84, 114, 1);
  border-style:solid;
    border-width: 1px;
}
.current a {
    text-decoration: none;
    color: black;
    padding: 5px;
    display: block;

}



.current:hover {
        
 box-shadow: 5px 5px rgba(97, 84, 114, 1);
    /* X shift, Y shift, Blur, Color */
    transform: translate3d(-5px);
     background-color:#d1d9ec;
     
}


.card h2 span {
    font-weight: normal;
}

.card h2{
    font-weight: bold;
}




.programs-nav{
    text-align: center;
}


.project_intro h2{
    text-align: center;
}

.projects img{
    max-width: 95%;
    float:right;
    margin-top: -30px;
}



@media (min-width:768px) {
    .material-symbols-outlined {
        display: none;
    }

    #top-nav {
        display: flex;
        position: static;
        border: none;
       background-color: rgba(97, 84, 114, 1);
        align-items: center;
        z-index: 0;
    }

    #top-nav li a {
        padding-block: 40px;
        padding-left: 10px;
        padding-right: 10px;
     
    }


    #top-nav ul {
        display: flex;
        font-size: 1.4em;


    }

    #top-nav ul a {
        border: none;
        color: white;

    }

    #top-nav li {
        margin: 0 20px;
       margin-right: -0.1px;
    }

    .menuwrap:hover #top-nav {
        display: flex;

    }

    .programs-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 1em;
    }

    .card {
        height: 100%;

    }


    .programs-menu {
        display: flex;
        position: relative;
        justify-content: space-between;
    }

    .dropdown {
        width: 20%;
        padding: 0;
        font-size: 1.2rem;
text-align: center;
    display:grid;


    }

    
    .dropdown ul {
        position: absolute;
text-align: center;
        box-sizing: border-box;
        width: 20%;
        margin-top: -5px;
        border-style: solid;
        border-color: #A1CECB;
        border-width: 4px;
        border-radius: 0 0 10px 10px;

    }


     .current {
        width: 20%;
        padding: 0;
        font-size: 1.2rem;
text-align: center;
    display:grid;


    }

    
    .current ul {
        position: absolute;

        box-sizing: border-box;
        width:20%;
        margin-top: -5px;
        border-style: solid;
        border-color: #A1CECB;
        border-width: 4px;
        border-radius: 0 0 10px 10px;

    }
.first main{
       display: grid;
        grid-template-columns: minmax(300px, 1fr)1fr;
    }

.intro img{
    max-width:60%;
float:right;
    margin-top: 10px;
  
   
}
    .projects{
       display: grid;
        grid-template-columns: minmax(300px, 1fr)1fr;

    }
}