@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

#container {background-color:#ffffffe6;
    padding:10px;
    border-style:double;
}




body {
    font-family: "Merriweather", serif;
    font-style: normal;
   
    background:url("background.jpg") repeat center/cover;
}

#intro{
    margin-top: 10px;
    width:40%;
}

h2{
    font-size:2rem;
}

h3{
line-height: 1.6em;
font-size: 1.5rem;

}

h2, h3{
font-family: "Klee One", cursive;
  font-weight: 400;
}


h1 {
    font-size: 1.5rem;
    font-family: "Rampart One", sans-serif;
  font-weight: 400;
    letter-spacing: 0.05rem;

    font-style: normal;

}

h1 a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0px 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(97, 84, 114, 1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/** menu bar **/
#top-nav {
    position: absolute;
    display: none;
    text-align: center;
    right: 0;
    top: 40px;
    z-index: 100;
    border: solid 1px black;
    background-color: #b7e2e7;
}

#top-nav a {
    text-decoration: none;
    color: black;
}

#top-nav a:hover {
    background-color:rgba(86, 136, 148, 1);
    color: white;
}

.menuwrap:hover #top-nav {
    display: block;

}
#top-nav ul{
    font-size: 1.2em;
}

#top-nav ul a {
    display: block;
    padding: 10px;
    border: solid 0.5px black;
    
}

#top-nav input {
    display: block;
    margin: 10px 5px;
}

/** menu bar end **/


.material-symbols-outlined {
    float: right;

}


 .home main {
        display:flex;
   padding: 10px;
   justify-content: space-between;
  text-align: center;
    }





@media (min-width:768px) {
    .material-symbols-outlined {
        display: none;
    }

    #top-nav {
        display: flex;
        position: static;
        border: none;
       background-color: rgba(97, 84, 114, 1);
        align-items: center;
        z-index: 0;
    }

    #top-nav li a {
        padding-block: 23px;
        padding-left: 10px;
        padding-right: 10px;
     
    }


    #top-nav ul {
        display: flex;
        font-size: 1.4em;


    }

    #top-nav ul a {
        border: none;
        color: white;

    }

    #top-nav li {
        margin: 0 20px;
       margin-right: -0.1px;
    }

    .menuwrap:hover #top-nav {
        display: flex;

    }

}